
@{
    ViewData["Title"] = "CreateClient";
}
<div class="container-fluid">
           
                    <section id="horizontal-form-layouts">
                   
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title-wrap bar-success">
                                            <h4 class="card-title" id="horz-layout-basic">Clients</h4>
                                        </div>
                                        <p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="px-3">
                                            <form class="form form-horizontal">
                                             
                                                   <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9">Client Name : </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9">Phone  : </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9">Number : </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9">Address: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                 
                                   
                                                        
                                                      
                    
                                                </form></div>
                    
                                                <div class="form-actions">
                                                    <button type="button" class="btn btn-danger mr-1">
                                                        <i class="icon-trash"></i> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-success">
                                                        <i class="icon-note"></i> Save
                                                    </button>
                                                </div>
                                            
                                        </div>
                                    
                                </div>
                            </div>
                        </div></section>
                  </div>