
@{
    ViewData["Title"] = "CreateInvoice";
}

<div class="container-fluid">
                    <section id="horizontal-form-layouts">
                        <div class="row">
                         
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title-wrap bar-success">
                                            <h4 class="card-title" id="horz-layout-basic">Sales Invoice</h4>
                                        </div>
                                        <p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="px-3">
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <h4 class="form-section">
                                                        <i class="icon-user"></i>Bills Details</h4>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput1">Bills Date : </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput1" class="form-control" name="fname">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput2">Bills NUmber: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput2" class="form-control" name="lname">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput7">Client Name : </label>
                                                        <div class="col-md-9">
                                                            <select id="projectinput7" name="budget" class="form-control">
                                                                <option value="0" selected="" disabled="">Choose From Clients </option>
                                                                <option value="Ahmed">Ahmed </option>
                                                                <option value="ali">Ali</option>
                                                              
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput7">Species Name : </label>
                                                        <div class="col-md-9">
                                                            <select id="projectinput7" name="budget" class="form-control">
                                                                <option value="0" selected="" disabled="">Choose From Species </option>
                                                                <option value="Ahmed">Ahmed </option>
                                                                <option value="ali">Ali</option>
                                                              
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput2">selling price
                                                            : </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput2" class="form-control" name="lname">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput2">Quintity: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput2" class="form-control" name="lname">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput2">Total: </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput2" class="form-control" name="lname">
                                                        </div>
                                                    </div>
                    
                                                    <h4 class="form-section">
                                                        <i class="icon-book-open"></i>Other Details</h4>
                                    
                                     
                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9"> Bills Total  </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9"> percentage discount
                                                        </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9"> value discount
                                                        </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9"> The Net </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9"> paid up
                                                        </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="projectinput9"> The rest
                                                        </label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="projectinput9" class="form-control" name="Type">
                                                        </div>
                                                    </div>
                             
                    
                                                </div>
                    
                                                <div class="form-actions">
                                                    <button type="button" class="btn btn-danger mr-1">
                                                        <i class="icon-trash"></i> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-success">
                                                        <i class="icon-note"></i> Save
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </section>
                  
                  </div>